.page {
  width: 100%;
  height: 100%;
  position: absolute;

  @media (max-width: 768px) {
    /* Adjust the breakpoint as needed */
    top: 0;
  }
}

.top-tags {
  bottom: auto;
  top: 35px;

  @media (max-width: 768px) {
    margin-top: 5px;
    top: 15px;
  }
}

.top-tag-html {
  bottom: auto;
  top: 15px;
  margin-left: -15px;

  @media (max-width: 768px) {
    margin-top: 0px;
    top: 5px;
  }
}

.tags {
  color: #00f2ea;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';

  @media (max-width: 768px) {
    font-size: 14px;
    left: 20px;
  }
}

.bottom-tag-html {
  margin-left: -20px;

  @media (max-width: 768px) {
    /* Adjust the breakpoint as needed */
    margin-left: -15px;
  }
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  @media (max-width: 768px) {
    /* Adjust the breakpoint as needed */
    top: 0;
  }
}

.about-page,
.contact-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #64ccc5;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 15px;
      left: 10px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #64cccd;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #64cccd;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 1.2rem;
      color: #fff;
      font-family: 'Satoshi', sans-serif;
      font-weight: 300;
      max-width: fit-content;
      text-align: justify;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .about-page {
    .text-zone {
      width: 75%;
      top: 40%;
      margin-left: -4%;

      h1 {
        font-size: 30px;
        margin-bottom: -10px;
        margin-left: -4%;

        &:before,
        &:after {
          display: none;
        }
      }

      p {
        font-size: 0.96rem;
        width: auto;
      }
    }
  }

  .contact-page {
    .text-zone {
      width: 75%;
      top: 20%;
      margin-left: -4%;

      h1 {
        font-size: 30px;
        margin-bottom: -10px;
        margin-left: -4%;

        &:before,
        &:after {
          display: none;
        }
      }

      p {
        font-size: 0.96rem;
        width: auto;
        margin-left: -2%;
      }
    }
  }
}