.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 1px solid #64cccd;
    background: black;
    height: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  textarea {
    width: 100%;
    border: 1px solid #64cccd;
    background: black;
    height: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .flat-button {
    color: #64cccd;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #64cccd;
    float: left;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;

    &:hover {
      background: #64cccd;
      color: black;
    }

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}

.map-wrap {
  background: #64cccd;
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
  background: #64cccd;
}

.leaflet-gl-layer {
  z-index: 200;
}

.leaflet-marker-pane,
.leaflet-popup-pane {
  z-index: 1000 !important;
}

.info-map {
  position: absolute;
  background: black;
  top: 0%;
  right: 0%;
  z-index: 1;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
    color: #64cccd;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .map-wrap {
    background: #64cccd;
    width: 80%;
    /* Adjust width as needed */
    height: 70%;
    /* Adjust height as needed */
    position: absolute;
    /* Use absolute positioning */
    bottom: 0;
    /* Position at the bottom */
    margin-right: 15%;
    margin-left: 5%;
  }

  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    background: #64cccd;
  }

  .info-map {
    position: absolute;
    background: black;
    margin-top: 50%;
    margin-right: 15%;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    width: auto;
    height: 11%;
    bottom: 0;
    z-index: 2;
  }
}