.nav-bar {
  background: white;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  opacity: 1;
  transition: transform 0.3s ease-out;
  /* Add a smooth transition effect */

  &.open {
    transform: translateX(0);
    /* Bring the Sidebar on-screen when open */
  }

  &.mobile {
    .menu-button {
      display: block;
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 4;
    }
  }

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 35px;
      height: auto;

      &.sub-logo {
        margin-top: -25px;
        width: 60px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #64ccc5;
      display: block;
      line-height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: black;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-family: 'Satoshi', sans-serif !important;
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &::after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &::after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #64ccc5;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #64ccc5;
        }
      }
    }
  }
}

.nav-bar {
  @media (max-width: 768px) {
    right: 0;
  }
}