html {
  font-size: clamp(62.5%, 0.75vw + 4px, 100%);
}



body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.4;
  color: white;
  background: black;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}